[*.{cs,vb}]

# Default severity for analyzer diagnostics with category 'Style' (escalated to build warnings)
dotnet_analyzer_diagnostic.category-Style.severity = warning

# Disable var preferences check
dotnet_diagnostic.IDE0007.severity = none
dotnet_diagnostic.IDE0008.severity = none

# Disable Use range operator check
dotnet_diagnostic.IDE0057.severity = none

# Disable Use conditional expression for return check for code clarity
dotnet_diagnostic.IDE0046.severity = none

# Disable Add braces for code clarity
dotnet_diagnostic.IDE0011.severity = none